* {
   margin: 0;
   padding: 0;
}
small {
   margin-left: 5px;
}
th {
   cursor: pointer;   
}
tr {
   height: 53px;
}
input {
   width: 80px;
   padding: 0;
   margin: 0;
}
.color {
   color: black;
}
.color:hover {
   color: black !important; 
}
.contextMenu {
   list-style-type: none;
   width: 200px;
   height: 200px;
   background-color: lightgray;
   border: 2px solid black;
   position: absolute;  
   border-radius: 5px;
   cursor: pointer;
}
.contextMenu__rename {
   /* background-color: red; */
}
.contextMenu__rename:hover .contextMenu__columns{
   display: block;
}
.contextMenu__columns {
   position: absolute;   
   top: 0;
   left: 100%;
   width: 130px;
   display: none;
   list-style-type: none;
   background-color: lightgray;
   border: 2px solid black;
   text-align: left;
   padding: 10px;
}

